body{
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
a{
    font-weight: 500;
    font-size: 1rem;
}